body {
    margin: 0;
}
h1,h2,h3,p {
 margin: 0;
 padding-top:15px;  
}
header {
    background-color: greenyellow;
    display: flex;
    justify-content: space-between;
}
div {
    display: flex;
    flex-direction: row;
}
ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}
img{
    margin: 15px;
}
.my-foto {
    width: 70px;
    height: 70px;
    border-radius: 50%;
   border: 4px solid rgb(255, 2, 2);
}
p{
    font-size: 20px;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:blue;
}
main {
background-color: rgb(255, 0, 238) ;
}
.spain {
background-color: aquamarine;

}
.i-spain {
background-color: rgb(51, 255, 0);
}
.spain-title {
    text-align: center;
}
.spain-link {
    background-color: aquamarine;
    border-radius: 10cm;
}
.spain-go {
background-color:red;
width: 20%;
border-radius: 10px;
margin-left: auto;
margin-right: auto;
display: block;
}